* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* Font from google  */
/* Russo one font  */
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
/* inter font  */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Russo+One&display=swap');

body,
html {
    height: 100%;
    font-family: "Inter", sans-serif;
}

/* Main container  */
.main-container {
    max-width: 1920px;
    margin-bottom: 80px;
}

.sub-container {
    width: 90%;
    margin: 0 auto;
}

.header-container {
    background-image: url('/images/image-1.png');
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right top;
    height: 780px;
    position: relative;
}

.header-content {
    position: relative;
    height: 100%;
    width: 90%;
    margin: 0 auto;
}

.header-details {
    position: absolute;
    bottom: 20%;
    left: 0;
    right: 0;
}

.header-details h1 {
    font-size: 128px;
    line-height: 154.24px;
    color: white;
    font-family: "Russo One";
    font-weight: 400;
    font-style: normal;
    margin-bottom: 20px;
}

.header-details p {
    font-size: 48px;
    color: #FFFFFFE0;
    line-height: 58px;
}

/* heading-container */
.heading-container {
    color: black;
    font-weight: 400;
    font-family: Russo One;
    margin-top: 96px;
}

.heading-container h1 {
    font-size: 96px;
    line-height: 115.68px;
}

.heading-container h2 {
    font-size: 80px;
    line-height: 96.4px;
}

.heading-container h3 {
    font-size: 72px;
    line-height: 56.76px;
}

.heading-container h4 {
    font-size: 64px;
    line-height: 77.12px;
}

.heading-container h5 {
    font-size: 52px;
    line-height: 62.66px;
}

.heading-container h6 {
    font-size: 48px;
    line-height: 57.84px;
}

/* article-section  */
.article-container {
    margin-top: 60px;
}

.article-container p {
    font-size: 32px;
    font-weight: 400;
    /* text-align: justify; */
    line-height: 38.73px;
    margin-bottom: 20px;
}

.article-container a {
    text-decoration: none;
    color: #0051FFDE;

}

.article-container span {
    font-weight: 700;
}

.article-span {
    text-decoration: underline;
}

.article-container::after {
    content: "";
    display: block;
    border-bottom: 2px solid #0000001F;
    height: 2px;
}

/* list container  */
.list-container {
    font-size: 32px;
    font-weight: 400;
    line-height: 38.73px;
    color: #000000DE;
    margin-left: 40px;
    margin-top: 60px;
}

.order-list {
    margin-bottom: 40px;
}

.alphabet-orderlist,
.circle-unorderlist {
    margin-left: 40px;
}

.circle-unorderlist {
    list-style-type: disc
}

/* table container  */
.table-container {
    margin-top: 40px;
}

.table-container table {
    border-collapse: collapse;
    width: 100%;
    font-size: 32px;
    line-height: 38.73px;
}

.table-container th,
td {
    border: 1px solid #0000000D;
    text-align: center;
    padding: 19px 20px;
}

.table-container th {
    background-color: #0000000D;
}

.bottom-image {
    margin-top: 80px;
}

.bottom-image img {
    width: 100%;
}

/* responsive */

/* Tablet View */
@media (min-width: 768px) and (max-width: 1024px) {
    .header-container {
        background-image: url('/images/image-tablet.png');
        background-size: cover;
        background-position: center;
    }

    .header-details {
        top: 10%;
    }

    .sub-container {
        width: 95%;
        margin: 0 auto;
    }

    .bottom-image {
        max-width: 980px;
        max-height: 526px;
    }
}

/* Mobile View */
@media (max-width: 768px) {
    .header-container {
        background-image: url('/images/image-mobile.png');
        background-size: cover;
        background-position: center;
    }

    .sub-container {
        width: 90%;
        margin: 0 auto;
    }

    .header-details {
        top: 5%;
    }

    .header-details h1 {
        font-size: 60px;
        line-height: 115.68px;
    }

    .header-details p {
        font-size: 36px;
        line-height: 43.57px;
    }

    .heading-container {
        margin-top: 60px;
    }

    .heading-container h1 {
        font-size: 85.24px;
        line-height: 102.71px;
    }

    .heading-container h2 {
        font-size: 71.03px;
        line-height: 85.6px;
    }

    .heading-container h3 {
        font-size: 63.93px;
        line-height: 77.04px;
    }

    .heading-container h4 {
        font-size: 56.83px;
        line-height: 68.48px;
    }

    .heading-container h5 {
        font-size: 46.17px;
        line-height: 55.64px;
    }

    .heading-container h6 {
        font-size: 42.62px;
        line-height: 51.36px;
    }

    .article-container p {
        font-size: 23.02px;
        line-height: 27.86px;
    }

    .list-container {
        font-size: 24px;
        line-height: 29.05px;
    }

    .table-container table {
        font-size: 22.56px;
        line-height: 27.31px;
    }

    .table-container th,
    td {
        padding: 13.4px 14.1px;
    }

    .bottom-image {
        max-width: 691px;
        max-height: 371.04px;
    }
}