* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* Font from google  */
/* Russo one font  */
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
/* inter font  */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Russo+One&display=swap');

body,
html {
    height: 100%;
    font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 38px;

}

/* Main main-container  */
.main-container {
    max-width: 1920px;
    margin-bottom: 80px;
}

.sub-container {
    width: 90%;
    margin: 0 auto;
}

.header-contents {
    background-image: url('/images/image-1.png');
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right top;
    height: 780px;
    position: relative;
}

.header-content {
    position: relative;
    height: 100%;
    width: 90%;
    margin: 0 auto;
}

.header-details {
    position: absolute;
    bottom: 15%;
    left: 0;
    right: 0;
}

.main-container p {
    font-size: 32px;
    font-weight: 400;
    color: black;
    line-height: 38.73px;
    margin-bottom: 20px;
}

.header-details>p {
    font-size: 48px;
    color: #FFFFFFE0;
    line-height: 58.09px;
}

.main-container h1 {
    font-size: 128px;
    line-height: 154.24px;
    color: white;
    font-family: "Russo One";
    font-style: normal;
    margin-bottom: 20px;
}

.main-container h2 {
    font-size: 80px;
    line-height: 96.4px;
}

.main-container h3 {
    font-size: 72px;
    line-height: 56.76px;
}

.main-container h4 {
    font-size: 64px;
    line-height: 77.12px;
}

.main-container h5 {
    font-size: 52px;
    line-height: 62.66px;
}

.main-container h6 {
    font-size: 48px;
    line-height: 57.84px;
}

.sub-container h1 {
    font-size: 96px;
    line-height: 115.68px;
    color: black
}

.main-container a {
    text-decoration: none;
    color: #0051FFDE;

}


.main-container span {
    font-weight: 700;
}

.main-container table {
    border-collapse: collapse;
    width: 100%;
    font-size: 32px;
    line-height: 38.73px;
}

.main-container ol,
ul,
li {
    font-size: 32px;
    font-weight: 400;
    line-height: 38.73px;
    color: #000000DE;
}

.heading-contents {
    color: black;
    font-weight: 400;
    font-family: Russo One;
    margin-top: 123px;
}

.article-contents {
    margin-top: 60px;
}



.main-container a {
    text-decoration: none;
    color: #0051FFDE;

}

.main-container span {
    font-weight: 700;
}

.article-span {
    text-decoration: underline;
}

.article-contents::after {
    content: "";
    display: block;
    border-bottom: 2px solid #0000001F;
    height: 2px;
}




/* list main-container  */
.list-contents {

    margin-left: 40px;
    margin-top: 63px;
}

.order-list {
    margin-bottom: 40px;
}

.alphabet-orderlist,
.circle-unorderlist {
    margin-left: 40px;
}


/* table main-container  */
.table-contents {
    margin-top: 26px;
}



.main-container th,
td {
    border: 1px solid #0000000D;
    text-align: center;
    padding: 19px 20px;
}

.main-container th {
    background-color: #0000000D;
}

.bottom-image {
    margin-top: 111px;
}

.main-container img {
    width: 100%;
}

/* responsive */

/* Tablet View */
@media (min-width: 768px) and (max-width: 1024px) {
    .header-contents {
        background-image: url('/images/image-tablet.png');
        background-size: cover;
        background-position: center;
    }

    .header-details {
        top: 10%;
    }

    .sub-container {
        width: 95%;
        margin: 0 auto;
    }

    .list-contents {
        margin-top: 29px;
    }

    .table-contents {
        margin-top: 78px;
    }

    .bottom-image {
        margin-top: 78px;
        max-width: 980px;
        max-height: 526px;
    }
}

/* Mobile View */
@media (max-width: 768px) {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-bottom: 33.74px;
    }

    .header-contents {
        background-image: url('/images/image-mobile.png');
        background-size: cover;
        background-position: center;
        height: 791px;
    }

    .sub-contents {
        width: 90%;
        margin: 0 auto;
    }

    .header-details {
        position: absolute;
        top: 5%
    }

    .main-container h1 {
        font-size: 60px;
        line-height: 115.68px;
    }

    .main-container p {
        font-size: 36px;
        line-height: 43.57px;
    }

    .heading-contents {
        margin-top: 72px;
    }

    .sub-container h1 {
        font-size: 85.24px;
        line-height: 102.71px;
    }

    .main-container h2 {
        font-size: 71.03px;
        line-height: 85.6px;
    }

    .main-container h3 {
        font-size: 63.93px;
        line-height: 77.04px;
    }

    .main-container h4 {
        font-size: 56.83px;
        line-height: 68.48px;
    }

    .heading-contents h5 {
        font-size: 46.17px;
        line-height: 55.64px;
    }

    .main-container h6 {
        font-size: 42.62px;
        line-height: 51.36px;
    }

    .article-contents {
        margin-top: 39.76px;
    }

    .sub-container p {
        font-size: 23.02px;
        line-height: 27.86px;
        margin-bottom: 71.73;
    }

    .list-contents {
        font-size: 24px;
        line-height: 29.05px;
    }

    .main-container table {
        font-size: 22.56px;
        line-height: 27.31px;
    }

    .main-container th,
    td {
        padding: 13.4px 14.1px;
    }

    .bottom-image {
        margin-top: 72.47px;
        max-width: 691px;
        max-height: 371.04px;
    }
}